body {
	background-color: #A9B0AC;
	font-family: "Helvetica";
	color: #000;
	margin:0px;
	padding:0px;
}
.contact {
	text-align: center;
	font-size: 14px;
	margin-top:0px;
	padding-top:0px;
}
li {
	text-align:left;
}
h4 {
	margin-bottom:4px;
}
h1 {
	text-align:center;
}
.last-commit{
	float:right;
	font-size:0.9em;
}
img.center {
	margin-left:auto;
	margin-right:auto;
	display:block;
}
 .background {
	background-color:#DCE3DF;
	width:70%;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
	
}
.leftbackground {
	border-radius: 10px 10px 10px 10px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	animation: slide-in-right 0.5s;
}
.rightbackground {
	border-radius: 10px 0px 0px 10px;
	float:right;
	animation: slide-in-left 0.5s;
}
@keyframes slide-in-left {
	
	0% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	100% {
		transform: translate(0em,0em) scaleY(1);
	}
}

@keyframes slide-in-right {
	
	0% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	100% {
		transform: translate(0em,0em) scaleY(1);
	}
}

.project {
	text-align:left;
}
.leftproject {
	margin-left:5%;
	
}
.rightproject {
	margin-right:10%;
	margin-left:10%
}
.project a {
	color: #0E289A;
}
/*
a.mainLink:link {
 text-decoration:none;
}*/

.project a:hover {
	color: #244380;
	
}