body {
	background-color: #000014;
	font-family: Helvetica;
	color: #FAFAFA;
}

a.mainLink {
	color: #FFFFFF;
}

a.mainLink:link {
 text-decoration:none;
}

a.mainLink:hover {
	color: #AFAFAF;
	text-decoration:none;
}