body {
	background-color: #373E17;
	font-family: "Helvetica";
	color: #ffffff;
	margin:0px;
	padding:0px;
}

ul {
	
}
li {
	text-align:left;
}
.listdiv {
	margin-left:40%;
	
	
}
 .background {
	background-color:#525B27;
	width:90%;
	margin-top:20px;
	margin-bottom:20px;
	
}
.leftbackground {
	border-radius: 0px 10px 10px 0px;
	float:left;
	animation: slide-in-right 0.8s;
}
.rightbackground {
	border-radius: 10px 0px 0px 10px;
	float:right;
	animation: slide-in-left 0.8s;
}
@keyframes slide-in-left {
	0% {
		transform: translate(110%,0em) scaleY(0.01);
	}
	50% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	70% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	100% {
		transform: translate(0em,0em) scaleY(1);
	}
}

@keyframes slide-in-right {
	0% {
		transform: translate(-110%,0em) scaleY(0.01);
	}
	50% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	70% {
		transform: translate(0em,0em) scaleY(0.01);
	}
	100% {
		transform: translate(0em,0em) scaleY(1);
	}
}

.project {
	text-align:center;
}
.leftproject {
	margin-left:10%;
}
.rightproject {
	margin-right:10%;
}
.project a {
	color: #0E285A;
}
/*
a.mainLink:link {
 text-decoration:none;
}*/

.project a:hover {
	color: #244380;
	
}